$blue:#0092db;
$green:#57a80c;
$red: #ce0303;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $blue;
    color: black;
    @include margenes(50px, 10px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $blue;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 12px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

.link-color {
    color: black;
}